<template>
  <div class="container top box">
    <h1 class="title">Password Generator - By: <code>SGT911</code></h1>
    <hr>
    <div>
      <div class="field">
        <label for="length" class="label">Largo de la contraseña</label>
        <div class="control">
          <input class="input" id="length" type="text" v-model="length">
        </div>
      </div>
      <fieldset>
        <legend><b>Opciones</b></legend>
        <div class="columns">
          <div class="column">
            <div class="field">
              <div class="control">
                <label
                    for="option-1"
                    class="checkbox"
                >
                  <input type="checkbox" id="option-1" v-model="optionNumber">
                  Posee <b>numeros</b> <span class="has-text-grey">(0, 1, 2 .... 9)</span>
                </label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label
                    for="option-2"
                    class="checkbox"
                >
                  <input type="checkbox" id="option-2" v-model="optionText">
                  Posee <b>letras en minuscula</b> <span class="has-text-grey">(a, b, c, d, e ... z)</span>
                </label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label
                    for="option-3"
                    class="checkbox"
                >
                  <input type="checkbox" id="option-3" v-model="optionTextUpper">
                  Posee <b>letras en mayuscula</b> <span class="has-text-grey">(A, B, C, D, E ... Z)</span>
                </label>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <div class="control">
                <label
                    for="option-4"
                    class="checkbox"
                >
                  <input type="checkbox" id="option-4" v-model="optionSpaces">
                  Posee <b>espacios</b>
                </label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label
                    for="option-5"
                    class="checkbox"
                >
                  <input type="checkbox" id="option-5" v-model="optionSpecial">
                  Posee <b>caracteres espciales</b> <span class="has-text-grey">(", ', $, #, !, &, /, (, ), [, ], {, })</span>
                </label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label
                    for="option-6"
                    class="checkbox"
                >
                  <input type="checkbox" id="option-6" v-model="optionPoints">
                  Posee <b>puntuacion</b> <span class="has-text-grey">(comas, puntos, punto y comas)</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <br>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-success" @click="create">Crear</button>
        </div>
        <div class="control">
          <button class="button is-danger" @click="clear">Limpiar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="box container" v-if="passwordResult !== null">
    <h2 class="subtitle">Resultado:</h2>
    <pre>{{ showPassword? passwordResult : '*'.repeat(passwordResult?.length || 10) }}</pre>
    <div class="field">
      <div class="control">
        <label for="show" class="checkbox">
          <input type="checkbox" id="show" v-model="showPassword">
          Mostrar la contraseña.
        </label>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button" :class="`is-${copyButtonColor}`" @click="copy">Copiar!</button>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import {ref, watch} from "vue";

const maxLength = 128;
const length = ref<number | string>(0);
watch(length, () => {
  if (typeof(length.value) == 'string') {
    let l = parseInt(length.value.replace(/[^0-9]+/i, ''));

    if (isNaN(l))
      l = 0;

    if (l > maxLength)
      l = maxLength;

    length.value = l;
  }
});


const optionNumber = ref(false);
const optionText = ref(false);
const optionTextUpper = ref(false);
const optionSpaces = ref(false);
const optionSpecial = ref(false);
const optionPoints = ref(false);

const passwordResult = ref<null | string>(null);
const showPassword = ref(false);
const copyButtonColor = ref<'link' | 'success' | 'danger'>('link');

const clear = function() {
  length.value = 0;
  optionNumber.value = false;
  optionText.value = false;
  optionTextUpper.value = false;
  optionSpaces.value = false;
  optionSpecial.value = false;
  optionPoints.value = false;

  passwordResult.value = null;
  showPassword.value = false;
  copyButtonColor.value = 'link';
};

const create = function () {
  const baseNum = '0123456789';
  const baseText = 'abcdefghijklmnopqrstuvwxyz';
  const baseTextUpper = baseText.toUpperCase();
  const baseSpaces = ' ';
  const baseSpecials = '!"#$%&/()=\'?[]{}';
  const basePoints = ',.:;';

  let haystack = '';
  if (optionNumber.value) {
    haystack += baseNum;
  }

  if (optionText.value) {
    haystack += baseText;
  }

  if (optionTextUpper.value) {
    haystack += baseTextUpper;
  }

  if (optionSpaces.value) {
    haystack += baseSpaces;
  }

  if (optionSpecial.value) {
    haystack += baseSpecials;
  }

  if (optionSpecial.value) {
    haystack += baseSpecials;
  }

  if (optionPoints.value) {
    haystack += basePoints;
  }

  if (haystack.length == 0 || length.value == 0) {
    alert('Las opciones no son validas, revisa e intenta nuevamente');
  }

  if (typeof(length.value) === 'string') return;

  let password = '';
  for (let i = 0; i < length.value; i++) {
    let idx = Math.round(Math.random() * haystack.length);
    if (idx == haystack.length) idx = haystack.length - 1;

    password += haystack[idx];
  }

  passwordResult.value = password;
};

const copy = async () => {
  if (typeof(passwordResult.value) === 'string') {
    try {
      await navigator.clipboard.writeText(passwordResult.value);
      copyButtonColor.value = 'success';
    } catch (e) {
      copyButtonColor.value = 'danger';
    }
  }
}
</script>